.dialog-title {
    font-size: 2rem !important;
    font-weight: 500 !important;
    text-align: center;
}

.group-btn {
    width: 100%;
    justify-content: flex-end;
    margin-top: 1rem;
    padding: 8px 0 !important;
}

.required-marked {
    color: red;
}